<h1>タスク詳細</h1>
<p>【タイトル】</p>
<%= @task.title %>
<p>【本文】</p>
<%= @task.body %>
<p>【期限】</p>
<%= @task.due_date %>
<br>
<%= link_to "戻る", tasks_path %>
<%= link_to "編集", edit_task_path %>
<%= link_to "削除", tasks_path %>